<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置 Address Bean -->
    <bean id="address" class="com.niit.Address">
        <property name="city" value="Beijing"/>
    </bean>

    <!-- 配置 Student Bean - 使用 Setter 注入 -->
    <bean id="student" class="com.niit.Student">
        <!-- 注入基本类型值（name） -->
        <property name="name" value="Zhang San"/>
        <!-- 注入另一个类的对象（address） -->
        <property name="address" ref="address"/>
    </bean>

</beans>


